.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: transparent;
  padding: 1rem 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  color: #331716;
  box-sizing: border-box;
  font-weight: 600;
  background-color: #fbf4ea;
}

@media (min-width: 576px) {
  .header {
    padding-left: calc((100% - 540px) / 2);
    padding-right: calc((100% - 540px) / 2);
  }
}

@media (min-width: 768px) {
  .header {
    padding-left: calc((100% - 720px) / 2);
    padding-right: calc((100% - 720px) / 2);
  }
}

@media (min-width: 992px) {
  .header {
    padding-left: calc((100% - 960px) / 2);
    padding-right: calc((100% - 960px) / 2);
  }
}

@media (min-width: 1200px) {
  .header {
    padding-left: calc((100% - 1140px) / 2);
    padding-right: calc((100% - 1140px) / 2);
  }
}

.logo {
  background-color: #331716;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.navList {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fbf4ea;
}

.navList li a {
  text-decoration: none;
  margin-left: 2rem;
  font-size: 1rem;
}

.main {
  flex: 1;
  padding-top: 1rem;
}

.hero,
.quemSomos,
.informacao,
.produtos,
.contato {
  padding: 2rem;
  text-align: center;
}

.footer {
  background-color: #331716;
  color: white;
  padding: 1rem;
  text-align: center;
}

.fixedButtons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre os botões */
  z-index: 1000;
}

.whatsappButton {
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.scrollToTopButton {
  background-color: #331716;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 5px;
  background-color: #331716;
  margin: 2px;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }

  .logo {
    display: block;
    width: 100px; /* Largura fixa */
    height: auto; /* Mantém a proporção */
    object-fit: contain; /* Garante que a imagem não seja cortada ou distorcida */
  }

  .navList {
    flex-direction: column;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: #331716;
    padding: 1rem;
  }

  .navList.active {
    display: flex;
  }

  .navList li a {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }

  .hamburger {
    display: flex;
    position: absolute;
    right: 1rem;
  }
}

.main h1 {
  padding: 2rem 0;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    justify-content: space-between;
  }

  .logo {
    position: static;
    margin: 0;
  }

  .navList {
    justify-content: flex-end;
  }
}

.container {
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: #331716;
}

.produtosContainer {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: #331716;
}

@media (min-width: 576px) {
  .main {
    padding-top: 0.5rem;
  }
  .navList li a {
    text-decoration: none;
    margin-left: 3rem;
  }

  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

#quem-somos,
#informacao,
#produtos,
#contato {
  padding-top: 80px;
  margin-top: -80px;
  scroll-margin-top: 100px; /* Ajuste o valor conforme necessário */
}
