.produtos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: hidden;
  width: 100%;
  padding: 0 10px;
}

.titulo {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.listaContainer {
  width: 100%;
  overflow-x: auto;
}

.listaProdutos {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 10px 0;
  justify-content: flex-start;

  overflow-x: auto;
  white-space: nowrap;
}

.listaProdutos::-webkit-scrollbar {
  height: 8px;
}

.listaProdutos::-webkit-scrollbar-thumb {
  background-color: rgba(255, 165, 0, 0.8);
  border-radius: 10px;
}

.listaProdutos::-webkit-scrollbar-track {
  background: transparent;
}

.itemProduto {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo */
  margin: 15px; /* Adiciona espaçamento externo */
  text-align: left;
  width: 100%;
}

.itemProduto img {
  display: block;
  margin: 20px auto;
  border-radius: 25px;
  max-width: 400px; /* Garante que a imagem não ultrapasse o contêiner */
  max-height: 700px; /* Define uma altura máxima para a imagem */
  width: auto; /* Mantém a proporção da largura */
  height: auto; /* Mantém a proporção da altura */
  object-fit: contain; /* Garante que a imagem inteira seja visível */
}

.itemProduto h2 {
  font-size: 1.2em;
  margin: 5px 0 2px;
  width: 100%;
}

.itemProduto p {
  font-size: 0.9em;
  color: #666;
  margin-top: 2px;
  width: 100%;
}

@media (max-width: 468px) {
  .listaProdutos {
    gap: 50px;
    margin: 0;
  }

  .itemProduto {
    margin-left: 30px;
  }
}
